@charset "UTF-8"
@import url('https://fonts.googleapis.com/css?family=Lato:400,900&subset=latin-ext')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800&subset=latin-ext')
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700&subset=latin-ext')


body {
		background: #fff;
		max-width: 100%;
		overflow-x: hidden!important;
		font-family: 'Open Sans', sans-serif;
		margin:0 auto;
	}

.dashboard {
    height: 100%!important;
}

.dashboard #container {
    height: 100vh!important;
}


#cover {
	background-image: url(/static/easy_admin_app/img/cover1.jpg);
    text-align: center!important;
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
}

#cover .container-fluid {
	background: rgba(0,0,0,0.4);
	height: 100vh!important;
}

#cover h1 {
    color: #fefefe;
    margin-top: 200px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

#cover .description {
	color: #fefefe;
	font-weight: bold;
	font-size: 20px;
}
#cover .to-start {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #fefefe;
    padding: 15px 90px;
    color: #fefefe;
    margin-top:60px;
    margin-bottom: 20px!important;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
}

#footer {
    background-color: #fefefe;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    padding: 1rem;
    text-align: center;
}

#footer span {
    color: #474747;
    padding: 10px;
    font-size: 14px;
    text-align: left;
}


#header {
    background-color: #fefefe;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 26px;
    text-align: center;
}

#header .header-title a{
    font-size: 20px;
    color: #417690;
}

#header #user-tools {
    color: #417690;
    font-size: 14px;
}

#header #user-tools a {
    color: #417690;
    font-size: 12px;
}
#menu {
    min-height: 100vh;
    height: auto;
    padding: 30px;
}

#menu .item {
    float: left;
    height: 350px;
    color: #fefefe;
    padding: 10px!important;
}

#menu .item a {
    color: #fefefe;
    font-size: 16px;
}

#menu .item h2 {
    margin-bottom: 20px;
}

#menu .users {
    background: #004c99;
    padding: 20px;
    text-align: center;
}

#menu .subjects {
    background: #f2f2f2;
    padding: 20px;
    text-align: center;
}

#menu .academic {
    background: #0066cc;
    padding: 20px;
    text-align: center;
}
#menu .links {
    /*text-align: left;*/
    padding: 10px;
}

#menu .report {
    background: #e6e6e6;
    padding: 20px;
    text-align: center;
}

#menu .people {
    background: #0080ff;
    padding: 20px;
    text-align: center;
}

#menu .admin {
    background: #d9d9d9;
    padding: 20px;
    text-align: center;
    color: #0066cc;
}

#menu .admin i {
    color: #0066cc;
}

#menu .admin a  {
    color: #0066cc;
}


#menu i {
    font-size: 9em;
    color: #fefefe;
    margin-top: 10px;
}

.dashboard {
    overflow-x: hidden!important;
    display: inline-block;
    width: 100vw;
    background: #fefefe;
}
.dashboard  h1 {
    display: none!important;
}

.dashboard #content {
    background: #417690;
    width: 50%; 
    margin-top: 20px;
    padding: 20px;
    margin-left: 40px;
}

.dashboard #content table {
    background: #417690;

}
.dashboard #content th {
    font-size: 20px;
    font-weight: normal;
    padding: 15px;
    color: #fefefe;
    border-bottom: 0px;
}

.dashboard #content-main a {
    color: #fefefe;
}

.dashboard #content-related {
    color: #417690;
}

